@font-face {
  font-family: "Cartoo Nature";
  src: url("CartooNatureRegular.woff2") format("woff2"),
    url("CartooNatureRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
